MANYAK_DB_NAME=
MANYAK_DB_PORT=
MANYAK_DB_URL=
MANYAK_DB_USERNAME=
MANYAK_DB_PASSWORD=
MANYAK_REDIS_PORT=
MANYAK_AI_BASE_URL=
MANYAK_CORS_ALLOWED_ORIGINS=
MANYAK_SLACK_FEEDBACK_WEBHOOK_URL=
MANYAK_ANALYTICS_ANONYMOUS_ID_PEPPER=
MANYAK_AUTH_JWT_SECRET=
